.com_mijoshop .common-home #content_oc h1,
.com_mijoshop .common-home #content_oc h2 {
  font-size: 24px;
}
.com_mijoshop .box_oc .box-product {
  margin-right: 0;
  padding: 20px;
}
.com_mijoshop .box_oc .box-product > div {
  float: right;
  margin: 0;
  margin-left: 20px;
  width: 100%;
}
.com_mijoshop .box_oc .box-product > div .image {
  display: inline-block;
  border: 1px solid #eeeeee;
  padding: 5px;
  text-align: right;
}
.com_mijoshop .box_oc .box-product > div .image a {
  display: inline-block;
}
.com_mijoshop .box_oc .box-product > div .image img {
  border: 0;
  padding: 0;
}
.com_mijoshop .box_oc .box-product > div .name {
  padding: 10px 0;
  text-align: right;
}
.com_mijoshop .box_oc .box-product > div .price {
  margin: 10px 0;
}
.com_mijoshop .box_oc #tab-related .box-product > div {
  width: auto;
}
.com_mijoshop .box_oc .box-content .content_oc p * {
  margin: 10px 0 10px 10px;
}
.com_mijoshop #header_oc {
  margin: 0 0 20px;
  padding: 0;
}
.com_mijoshop #header_oc #currency {
  top: 0;
}
.com_mijoshop #header_oc #currency a {
  margin-top: 5px;
}
.com_mijoshop #header_oc #cart {
  border-right: 1px solid #eeeeee;
  margin-right: 20px;
  top: 5px;
}
.com_mijoshop #header_oc #cart .heading {
  margin-top: 0;
}
.com_mijoshop #header_oc #search_oc {
  top: 10px;
  width: 120px;
}
.com_mijoshop #header_oc #search_oc input[type="text"] {
  border-radius: 0;
  height: 25px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.com_mijoshop #header_oc .links {
  bottom: 0;
  top: auto;
}
.com_mijoshop #currency .dropdown-menu > li,
.com_mijoshop #top-links .dropdown-menu > li {
  border-color: #eeeeee;
}
.com_mijoshop #currency .dropdown-menu > li a:hover,
.com_mijoshop #top-links .dropdown-menu > li a:hover,
.com_mijoshop #currency .dropdown-menu > li a:focus,
.com_mijoshop #top-links .dropdown-menu > li a:focus {
  color: #ffffff;
}
.com_mijoshop #currency .open a,
.com_mijoshop #top-links .open a {
  color: #444444;
}
.com_mijoshop .mijoshop .product-thumb .image img {
  max-width: 100%;
  width: 100%;
}
.com_mijoshop .mijoshop .product-thumb .caption {
  padding: 15px !important;
}
.com_mijoshop .mijoshop .product-thumb .caption h4 {
  margin: 0 0 10px;
  font-size: 15px;
}
.com_mijoshop .mijoshop .product-thumb .caption h4 a {
  color: #444444;
}
.com_mijoshop .mijoshop .product-thumb .caption h4 a:hover,
.com_mijoshop .mijoshop .product-thumb .caption h4 a:focus {
  color: #cc0000;
}
.com_mijoshop .mijoshop .product-thumb .caption .price {
  font-weight: 700;
  color: #cc0000;
  margin-top: 10px !important;
}
.com_mijoshop .mijoshop .product-thumb .caption .price .price-tax {
  color: #999999;
  font-weight: 400;
}
.com_mijoshop #content_oc > h2 {
  margin-bottom: 30px;
  font-size: 24px;
}
.com_mijoshop #content_oc > p {
  padding: 10px 20px;
  border: 1px solid #eeeeee;
  margin-bottom: 20px !important;
  margin-top: 10px !important;
}
.com_mijoshop #content_oc .product-filter {
  padding-bottom: 10px;
}
.com_mijoshop #content_oc .product-filter .display {
  padding-top: 15px;
}
.com_mijoshop #content_oc .product-grid .product-thumb .caption {
  min-height: 200px !important;
}
.com_mijoshop #content_oc .product-list .product-thumb .image {
  padding: 0 0 0 20px;
  height: 200px;
}
.com_mijoshop #content_oc .product-list .product-thumb .image > a {
  height: 100%;
}
.com_mijoshop #content_oc .product-list .product-thumb .image img {
  max-width: 100%;
  max-height: 100%;
}
.com_mijoshop #content_oc .product-list .product-thumb .caption {
  overflow: hidden;
  margin: 0;
  padding: 20px 0 20px 20px !important;
  min-height: 161px !important;
}
.com_mijoshop .product-info .left {
  width: 30% !important;
}
.com_mijoshop .product-info .right {
  min-height: 352px;
  width: 65% !important;
}
.com_mijoshop .product-info .right .description {
  border-top: 0;
  padding: 0 0 10px;
}
.com_mijoshop .product-info .left .cart div input[type="text"],
.com_mijoshop .product-info .left .cart div input[type="button"] {
  display: inline-block;
}
.com_mijoshop .product-info .left .cart div input[type="text"] {
  padding-right: 5px;
  padding-left: 5px;
}
.com_mijoshop .product-info .right .cart div span {
  color: #999999;
}
.com_mijoshop #tab-description,
.com_mijoshop #tab-review {
  padding: 20px;
}
.com_mijoshop .content_oc ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.com_mijoshop .cart-info .quantity input[type='text'] {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 28px;
  padding-top: 0;
  padding-bottom: 0;
}
.com_mijoshop .cart-module #coupon input,
.com_mijoshop .cart-module #voucher input {
  display: inline-block;
}
.com_mijoshop .cart-module #shipping table {
  border-bottom: 1px solid #eeeeee;
  margin-bottom: 20px;
}
.com_mijoshop .cart-module #shipping table td {
  padding: 10px 20px;
}
.com_mijoshop .box-category ul li {
  padding: 10px 0 10px 10px;
}
.com_mijoshop #colorbox {
  box-sizing: unset !important;
}
.com_mijoshop #column-right .row > div {
  width: 100%;
  float: none;
}
.com_mijoshop .t3-sidebar .mijoshop .container_oc .row > div {
  width: 100%;
  float: none;
}